.fundo{
    background-color:silver;
    min-height: 50px;
    align-items: center;
    margin-bottom: 30px;
  }
  .titulo{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .botoes{
    margin-top: 30px;
  }
  .botoes-img{
    margin-top: 10px;
  }
  .fundo-geral{
    background-color: rgba(211, 211, 211, .2);
    min-height: 600px;
    margin-top: 50px;
  }
  