*{
    margin: 0;
    padding: 0;
}


.lateral{
    width: 9%;
    height: 180%;
    background-color: lightgray;
}

.contra_lateral{
    width: 91%;
    float: right;
    /* height: 658px; */
    /* background-color: lightgray; */
}

.quadro_icon{
    margin-bottom: .1em;
    border: lightgray 5px solid;

}

.quadro_icon:hover{
    border: red 5px solid;
}

.quadro_icon img{
    margin-left: 35px;
    margin-top: 10px;
}
