body{
    border: 2px solid goldenrod;
    background-color: rgba(34, 20, 20, 0.938);
}
.sobre{
    text-align: center;
    font-size: 18px;
}
.logo{
    color: goldenrod;
    transition: .2s; /* Animation */
    margin: 0 auto;
}

.logo:hover{
    transform: scale(1.15);
    z-index: 2;
}

#fechar-sobre{
    text-decoration: none;
    color: goldenrod;
}
p{
    color: cornsilk;
}
div img{
    border-radius: 50%;
    border: 2px solid goldenrod ;
}