body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif
}



body,html{
    margin: 0px;
    padding: 0px;
    background-color: rgb(239, 241, 242)  ;
    height: 100%;
    width: 100%;
}
.imgInitial{
    float: left;
    height: 100%;
    width: 65%;
}

.imgInitial img{
    height: 100%;
    width: 100%;
}

.cadastro h3{
    text-align: center;
    font-size: x-large;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
    background-color: #fefbd8;
    height: 100%;
    width: 35%;
}
.inicial{
    display:inline-block;
    text-align: center;
    text-decoration:none;
    padding:6px 4px;
    border-radius:19px;
    background-color: #F0E68C;
    color:#333;
    font:15px arial, sans-serif;
}
.inicial:hover{
    border-color:#aaa;
}

.cadastro .formulario{
    width: 100%;
    min-height: auto;
    margin-bottom: 10%;
    background-color: #fefbd8;
    border-radius: 19px;
    padding-top: 10px;
    padding-bottom: 20px;
    /* box-shadow: 1px 1px 1px 1px; */
    /*border: 2px solid #f9d6f9;*/

}

.form-control{
    margin-left: 20px;
    margin-top: 20px;
    color: gray;
}

.formulario input{
    margin-top: 5px;
    border-radius: 14px;
    width: 90%;
    height: 20px;
    background-color: #f1f1f1;
    border: 2px solid rgb(191, 187, 187);
}

.cadastro button{
    border-radius: 45px;
    width: 175px;
    color: #D8BB5D;
    font-size: 20px;
    margin-left: 5px;
    /* margin-right: 10px; */
    margin-top: 10px;
}

.cadastro .redirecionamento{ 
    text-decoration: none;
    color: #D8BB5D;
}

small{
    font-size: 10px;
}

textarea:focus, input:focus, select:focus, button:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.w3-quarter{
    margin-top: 15px;
}


/* .w3-quarter h3:hover {
    transition:.2s;
    transform:scale(1.75);
    cursor:pointer;
    z-index:2;
} */
.w3-quarter img:hover {
    transition:.2s;
    transform:scale(1.75);
    cursor:pointer;
    z-index:2;
}

.w3-quarter p:hover {
    transition:.2s;
    transform:scale(1.75);
    cursor:pointer;
    z-index:2;
}

.w3-right {
    margin-top: -15px;
}

.sobre{
    position: fixed;
    margin-left: 96%;
    margin-top: 10px;
}

.collapsible {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: rgb(233, 175, 29);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 2px solid goldenrod;
  }